<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.uniess.vk.batch.repository.ContentMasterMapper">
    <select id="getTotalCount" resultType="_int">
        SELECT COUNT(COT_ID) FROM CONTENT_MASTER
    </select>

    <select id="findOne" parameterType="string" resultType="string">
        SELECT COT_ID FROM CONTENT_MASTER WHERE CONTENT_ID = #{contentId}
    </select>

    <insert id="insert" parameterType="content">
        <!--<selectKey keyProperty="createdate" resultType="date" order="BEFORE">-->
            <!--SELECT NOW()-->
        <!--</selectKey>-->
        INSERT INTO CONTENT_MASTER (
            COT_ID,
            CONTENT_ID,
            CONTENT_TYPE,
            CONTENT_STATUS,
            TITLE,
            DISPLAY_TITLE,
            READ_COUNT,
            SHOW_FLAG,
            CREATE_USR_ID,
            DEPT,
            DEPT_VIEW,
            TEL,
            CREATE_DATE,
            MODIFIED_DATE
        ) VALUES (
            #{cotid},
            #{contentid},
            #{contenttypeid},
            #{contentstatus},
            #{title},
            #{displaytitle},
            #{readcount},
            #{showflag},
            #{createusrid},
            #{dept},
            #{deptview},
            #{tel},
            NOW(),
            NOW()
        )
    </insert>

    <update id="update" parameterType="content">
        <!--<selectKey keyProperty="modifieddate" resultType="date" order="BEFORE">-->
            <!--SELECT NOW()-->
        <!--</selectKey>-->
        UPDATE CONTENT_MASTER
        <set>
            <if test="cotid != null">COT_ID = #{cotid},</if>
            <if test="contenttypeid != null">CONTENT_TYPE = #{contenttypeid},</if>
            <if test="contentstatus != null">CONTENT_STATUS = #{contentstatus},</if>
            <if test="title != null">TITLE = #{title},</if>
            <if test="displaytitle != null">DISPLAY_TITLE = #{displaytitle},</if>
            <if test="readcount != null">READ_COUNT = #{readcount},</if>
            <if test="showflag != null">SHOW_FLAG = #{showflag},</if>
            <if test="createusrid != null">CREATE_USR_ID = #{createusrid},</if>
            <if test="dept != null">DEPT = #{dept},</if>
            <if test="deptview != null">DEPT_VIEW = #{deptview},</if>
            <if test="tel != null">TEL = #{tel},</if>
            MODIFIED_DATE = NOW()
        </set>
         WHERE CONTENT_ID = #{contentid}
    </update>
</mapper>