<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.uniess.vk.batch.repository.CulturalIntroMapper">
    <insert id="insert" parameterType="cultural">
        INSERT INTO CULTURAL_FACILITIES_INTRO (
            COT_ID,
            ACCOM_COUNT,
            SCALE,
            SPENDTIME,
            CHK_BABY_CARRIAGE,
            CHK_CREDITCARD,
            CHK_PET,
            DISCOUNT_INFO,
            INFO_CENTER,
            PARKING,
            PARKING_FEE,
            REST_DATE,
            USE_FEE,
            USE_TIME
        ) VALUES (
            #{cotId},
            #{accomCount},
            #{scale},
            #{spendTime},
            #{chkBabyCarriage},
            #{chkCreditCard},
            #{chkPet},
            #{disCountInfo},
            #{infoCenter},
            #{parking},
            #{parkingFee},
            #{restDate},
            #{useFee},
            #{useTime}
        )
    </insert>

    <update id="update" parameterType="cultural">
        UPDATE CULTURAL_FACILITIES_INTRO
        <set>
            <if test="accomCount != null">ACCOM_COUNT = #{accomCount},</if>
            <if test="scale != null">SCALE = #{scale},</if>
            <if test="spendTime != null">SPENDTIME = #{spendTime},</if>
            <if test="chkBabyCarriage != null">CHK_BABY_CARRIAGE = #{chkBabyCarriage},</if>
            <if test="chkCreditCard != null">CHK_CREDITCARD = #{chkCreditCard},</if>
            <if test="chkPet != null">CHK_PET = #{chkPet},</if>
            <if test="disCountInfo != null">DISCOUNT_INFO = #{discountInfo},</if>
            <if test="infoCenter != null">INFO_CENTER = #{infoCenter},</if>
            <if test="parking != null">PARKING = #{parking},</if>
            <if test="parkingFee != null">PARKING_FEE = #{parkingFee},</if>
            <if test="restDate != null">REST_DATE = #{restDate},</if>
            <if test="useFee != null">USE_FEE = #{useFee},</if>
            <if test="useTime != null">USE_TIME = #{useTime}</if>
        </set>
        WHERE COT_ID = #{cotId}
    </update>

    <delete id="delete" parameterType="string">
        DELETE FROM CULTURAL_FACILITIES_INTRO WHERE COT_ID = #{cotId}
    </delete>
</mapper>