<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.uniess.vk.batch.repository.DatabaseMasterMapper">
    <select id="findOne" parameterType="string" resultType="database">
        SELECT COT_ID,
            HOMEPAGE,
            OVER_VIEW,
            FIRST_IMAGE,
            FIRST_IMAGE2,
            ZIP_CODE,
            AREA_CODE,
            SIGUGUN_CODE,
            DONG_CODE,
            CAT1,
            CAT2,
            CAT3,
            ADDR1,
            ADDR2,
            MAPX,
            MAPY,
            WGSX,
            WGSY,
            MLEVEL,
            BOOK_TOUR,
            ADMIN_NAME,
            ADMIN_TEL,
            ADMIN_FAX,
            ADMIN_EMAIL,
            SET_STATUS
          FROM DATABASE_MASTER
         WHERE COT_ID = #{cotId}
    </select>

    <insert id="insert" parameterType="database">
        INSERT INTO DATABASE_MASTER (
            COT_ID,
            HOMEPAGE,
            OVER_VIEW,
            FIRST_IMAGE,
            FIRST_IMAGE2,
            ZIP_CODE,
            AREA_CODE,
            SIGUGUN_CODE,
            DONG_CODE,
            CAT1,
            CAT2,
            CAT3,
            ADDR1,
            ADDR2,
            MAPX,
            MAPY,
            WGSX,
            WGSY,
            MLEVEL,
            BOOK_TOUR,
            ADMIN_NAME,
            ADMIN_TEL,
            ADMIN_FAX,
            ADMIN_EMAIL,
            SET_STATUS
        ) VALUES (
            #{cotId},
            #{homepage},
            #{overview}
            #{firstimage},
            #{firstimage2},
            #{zipcode},
            #{areacode},
            #{siguguncode},
            #{dongcode},
            #{cat1},
            #{cat2},
            #{cat3},
            #{addr1},
            #{addr2},
            #{mapx},
            #{mapy},
            #{wgsx},
            #{wgsy},
            #{mlevel},
            #{booktour},
            #{adminname},
            #{admintel},
            #{adminfax},
            #{adminemail},
            #{setstatus}
        )
    </insert>

    <update id="update" parameterType="database">
        UPDATE DATABASE_MASTER
        <set>
            <if test="homepage != null">HOMEPAGE = #{homepage},</if>
            <if test="overview != null">OVER_VIEW = #{overview},</if>
            <if test="firstImage != null">FIRST_IMAGE = #{firstimage},</if>
            <if test="firstImage2 != null">FIRST_IMAGE2 = #{firstimage2},</if>
            <if test="zipCode != null">ZIP_CODE = #{zipcode},</if>
            <if test="areaCode != null">AREA_CODE = #{areacode},</if>
            <if test="sigugunCode != null">SIGUGUN_CODE = #{siguguncode},</if>
            <if test="dongCode != null">DONG_CODE = #{dongcode},</if>
            <if test="cat1 != null">CAT1 = #{cat1},</if>
            <if test="cat2 != null">CAT2 = #{cat2},</if>
            <if test="cat3 != null">CAT3 = #{cat3},</if>
            <if test="addr1 != null">ADDR1 = #{addr1},</if>
            <if test="addr2 != null">ADDR2 = #{addr2},</if>
            <if test="mapX != null">MAPX = #{mapx},</if>
            <if test="mapY != null">MAPY = #{mapy},</if>
            <if test="wgsX != null">WGSX = #{wgsx},</if>
            <if test="wgsY != null">WGSY = #{wgsy},</if>
            <if test="mLevel != null">MLEVEL = #{mlevel},</if>
            <if test="bookTour != null">BOOK_TOUR = #{booktour},</if>
            <if test="adminName != null">ADMIN_NAME = #{adminname},</if>
            <if test="adminTel != null">ADMIN_TEL = #{admintel},</if>
            <if test="adminFax != null">ADMIN_FAX = #{adminfax},</if>
            <if test="adminEmail != null">ADMIN_EMAIL = #{adminemail},</if>
            <if test="setStatus != null">SET_STATU = #{setstatus}</if>
        </set>
        WHERE COT_ID = #{cotId}
    </update>
</mapper>