<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DetailInfo 코스 / 숙박 제외한 나머지 -->
<mapper namespace="kr.co.uniess.vk.batch.repository.DetailInfoMapper">
    <insert id="insertList" parameterType="detail_info">
        INSERT INTO DETAIL_INFO
        (
            COT_ID,
            FLD_GUBUN,
            DISPLAY_TITLE,
            CONTENT_BODY,
            SERIAL_NUM
        ) VALUES
        <foreach item="item" collection="list" separator=",">
            (
                #{item.cotId},
                #{item.fldGubun},
                #{item.displayTitle},
                #{item.contentBody},
                #{item.serialNum}
            )
        </foreach>
    </insert>

    <insert id="insert" parameterType="detail_info">
        INSERT INTO DETAIL_INFO
        (
            COT_ID,
            FLD_GUBUN,
            DISPLAY_TITLE,
            CONTENT_BODY,
            SERIAL_NUM
        ) VALUES (
            #{cotId},
            #{fldGubun},
            #{displayTitle},
            #{contentBody},
            #{serialNum}
        )
    </insert>

    <update id="update" parameterType="detail_info">
        UPDATE DETAIL_INFO
        <set>
            <if test="fldgubun != null">FLD_GUBUN = #{fldGubun},</if>
            <if test="displaytitle != null">DISPLAY_TITLE = #{displayTitle},</if>
            <if test="contentbody != null">CONTENT_BODY = #{contentBody},</if>
            <if test="serialnum != null">SERIAL_NUM = #{serialNum}</if>
        </set>
        WHERE COT_ID = #{cotId}
    </update>

    <delete id="delete" parameterType="string">
        DELETE FROM DETAIL_INFO WHERE COT_ID = #{cotId}
    </delete>

    <delete id="deleteWithTour" parameterType="string">
        DELETE FROM DETAIL_INFO WHERE FLD_GUBUN = 5 AND COT_ID = #{cotId}
    </delete>
</mapper>