<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.uniess.vk.batch.repository.DetailWithTourMapper">
    <insert id="insert">
        INSERT INTO DETAIL_INFO (COT_ID, FLD_GUBUN, DISPLAY_TITLE, CONTENT_BODY)
        VALUES
        <foreach item="item" collection="list" separator=",">
            (
                COTID(#{item.contentId}),
                5,
                #{item.title},
                #{item.content},
            )
        </foreach>
    </insert>

    <delete id="delete" parameterType="string">
        DELETE FROM DETAIL_INFO WHERE COT_ID = #{cotId} AND FLD_GUBUN = 5
    </delete>

    <delete id="deleteByContentId" parameterType="string">
        DELETE FROM DETAIL_INFO WHERE COT_ID = COTID(#{cotId}) AND FLD_GUBUN = 5
    </delete>
</mapper>