<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.uniess.vk.batch.repository.FestivalIntroMapper">
    <insert id="insert" parameterType="festival">
        INSERT INTO FESTIVAL_INTRO (
            COT_ID,
            SCALE,
            SPEND_TIME,
            AGE_LIMIT,
            BOOKING_PLACE,
            DISCOUNT_INFO,
            EVENT_END_DATE,
            EVENT_HOMEPAGE,
            EVENT_PLACE,
            EVENT_START_DATE,
            FESTIVAL_GRADE,
            PLACE_INFO,
            PLAY_TIME,
            PROGRAM,
            SPONSOR1,
            SPONSOR1_TEL,
            SPONSOR2,
            SPONSOR2_TEL,
            SUB_EVENT,
            USE_FEE
        ) VALUES (
            #{cotId},
            #{scale},
            #{spendTime},
            #{ageLimit},
            #{bookingPlace},
            #{discountInfo},
            #{eventEndDate},
            #{eventHomepage},
            #{eventPlace},
            #{eventStartDate},
            #{festivalGrade},
            #{placeInfo},
            #{playTime},
            #{program},
            #{sponsor1},
            #{sponsor1Tel},
            #{sponsor2},
            #{sponsor2Tel},
            #{subEvent},
            #{useFee}
        )
    </insert>

    <update id="update" parameterType="festival">
        UPDATE FESTIVAL_INTRO
        <set>
            <if test="scale != null">SCALE = #{scale},</if>
            <if test="spendTime != null">SPEND_TIME = #{spendTime},</if>
            <if test="ageLimit != null">AGE_LIMIT = #{ageLimit},</if>
            <if test="bookingPlace != null">BOOKING_PLACE = #{bookingPlace},</if>
            <if test="discountInfo != null">DISCOUNT_INFO = #{discountInfo},</if>
            <if test="eventEndDate != null">EVENT_END_DATE = #{eventEndDate},</if>
            <if test="eventHomepage != null">EVENT_HOMEPAGE = #{eventHomepage},</if>
            <if test="eventPlace != null">EVENT_PLACE = #{eventPlace},</if>
            <if test="eventStartDate != null">EVENT_START_DATE = #{eventStartDate},</if>
            <if test="festivalGrade != null">FESTIVAL_GRADE = #{festivalGrade},</if>
            <if test="placeInfo != null">PLACE_INFO = #{placeInfo},</if>
            <if test="playTime != null">PLAY_TIME = #{playTime},</if>
            <if test="program != null">PROGRAM = #{program},</if>
            <if test="sponsor1 != null">SPONSOR1 = #{sponsor1},</if>
            <if test="sponsor1Tel != null">SPONSOR1_TEL = #{sponsor1Tel},</if>
            <if test="sponsor2 != null">SPONSOR2 = #{sponsor2},</if>
            <if test="sponsor2Tel != null">SPONSOR2_TEL = #{sponsor2Tel},</if>
            <if test="subEvent != null">SUB_EVENT = #{subEvent},</if>
            <if test="useFee != null">USE_FEE = #{useFee}</if>
        </set>
        WHERE COT_ID = #{cotId}
    </update>

    <delete id="delete" parameterType="string">
        DELETE FROM FESTIVAL_INTRO WHERE COT_ID = #{cotId}
    </delete>
</mapper>