<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.uniess.vk.batch.repository.ImageMapper">
    <select id="findOneByCotId" parameterType="string" resultType="string">
        SELECT IMG_ID FROM IMAGE WHERE COT_ID = #{cotid} AND URL = #{url} LIMIT 1 -- FIXME: LIMIT 1: TOO MANY RESULT EXCEPTION
    </select>

    <select id="findAllByCotId" parameterType="string" resultType="image">
        SELECT IMG_ID,
               COT_ID,
               URL,
               IMAGE_DESCRIPTION,
               IS_THUBNAIL,
               IMAGE_PATH
          FROM IMAGE
         WHERE COT_ID = #{cotid}
    </select>

    <select id="findOneByContentId" parameterType="string" resultType="string">
        SELECT IMG_ID FROM IMAGE WHERE COT_ID = COTID(#{contentid}) AND URL = #{url}
    </select>

    <select id="findAllByContentId" parameterType="string" resultType="arraylist">
        SELECT IMG_ID,
               COT_ID,
               URL,
               IMAGE_DESCRIPTION,
               IS_THUBNAIL,
               IMAGE_PATH
          FROM IMAGE
         WHERE COT_ID = COTID(#{cotid})
    </select>

    <insert id="insert" parameterType="image">
        INSERT INTO IMAGE (
            IMG_ID,
            COT_ID,
            URL,
            IMAGE_DESCRIPTION,
            IS_THUBNAIL
        ) VALUES (
            #{imgid},
            #{cotid},
            #{url},
            #{imagedescription},
            #{isthubnail}
        )
    </insert>

    <update id="update" parameterType="image">
        UPDATE IMAGE
        <set>
            <if test="url != null">URL = #{url},</if>
            <if test="imagedescription != null">IMAGE_DESCRIPTION = #{imagedescription},</if>
            <if test="isthubnail != null">IS_THUBNAIL = #{isthubnail}</if>
        </set>
         WHERE IMG_ID = #{imgid}
    </update>
</mapper>