<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    API response keys ...
-->

<mapper namespace="kr.co.uniess.vk.batch.repository.IntroMapper">
    <insert id="insertTouristIntro" parameterType="hashmap">
        INSERT INTO TOURIST_SPOT_INTRO (
            COT_ID,
            ACCOM_COUNT,
            CHK_BABY_CARRIAGE,
            CHK_CREDITCARD,
            CHK_PET,
            EXP_AGE_RANGE,
            EXP_GUIDE,
            HERITAGE1,
            HERITAGE2,
            HERITAGE3,
            INFO_CENTER,
            OPEN_DATE,
            PARKING,
            REST_DATE,
            USE_SEASON,
            USE_TIME
        ) VALUES (
            #{cotid},
            #{accomcount},
            #{chkbabycarriage},
            #{chkcreditcard},
            #{chkpet},
            #{expagerange},
            #{expguide},
            #{heritage1},
            #{heritage2},
            #{heritage3},
            #{infocenter},
            #{opendate},
            #{parking},
            #{restdate},
            #{useseason},
            #{usetime}
        )
    </insert>

    <update id="updateTouristIntro" parameterType="hashmap">
        UPDATE TOURIST_SPOT_INTRO
        <set>
            <if test="accomcount != null">ACCOM_COUNT = #{accomcount},</if>
            <if test="chkbabycarriage != null">CHK_BABY_CARRIAGE = #{chkbabycarriage},</if>
            <if test="chkcreditcard != null">CHK_CREDITCARD = #{chkcreditcard},</if>
            <if test="chkpet != null">CHK_PET = #{chkpet},</if>
            <if test="expagerange != null">EXP_AGE_RANGE = #{expagerange},</if>
            <if test="expguide != null">EXP_GUIDE = #{expguide},</if>
            <if test="heritage1 != null">HERITAGE1 = #{heritage1},</if>
            <if test="heritage2 != null">HERITAGE2 = #{heritage2},</if>
            <if test="heritage3 != null">HERITAGE3 = #{heritage3},</if>
            <if test="infocenter != null">INFO_CENTER = #{infocenter},</if>
            <if test="opendate != null">OPEN_DATE = #{opendate},</if>
            <if test="parking != null">PARKING = #{parking},</if>
            <if test="restdate != null">REST_DATE = #{restdate},</if>
            <if test="useseason != null">USE_SEASON = #{useseason},</if>
            <if test="usetime != null">USE_TIME = #{usetime},</if>
        </set>
        WHERE COT_ID = #{cotId}
    </update>

    <insert id="insertCulturalIntro" parameterType="hashmap">
        INSERT INTO CULTURAL_FACILITIES_INTRO (
            COT_ID,
            ACCOM_COUNT,
            SCALE,
            SPENDTIME,
            CHK_BABY_CARRIAGE,
            CHK_CREDITCARD,
            CHK_PET,
            DISCOUNT_INFO,
            INFO_CENTER,
            PARKING,
            PARKING_FEE,
            REST_DATE,
            USE_FEE,
            USE_TIME
        ) VALUES (
            #{cotId},
            #{accomcount},
            #{scale},
            #{spendtime},
            #{chkbabycarriage},
            #{chkcreditcard},
            #{chkpet},
            #{discountinfo},
            #{infocenter},
            #{parking},
            #{parkingfee},
            #{restdate},
            #{usefee},
            #{usetime}
        )
    </insert>

    <update id="updateCulturalIntro" parameterType="hashmap">
        UPDATE CULTURAL_FACILITIES_INTRO
        <set>
            <if test="accomcount != null">ACCOM_COUNT = #{accomcount},</if>
            <if test="scale != null">SCALE = #{scale},</if>
            <if test="spendtime != null">SPENDTIME = #{spendtime},</if>
            <if test="chkbabycarriage != null">CHK_BABY_CARRIAGE = #{chkbabycarriage},</if>
            <if test="chkcreditcard != null">CHK_CREDITCARD = #{chkcreditcard},</if>
            <if test="chkpet != null">CHK_PET = #{chkpet},</if>
            <if test="discountinfo != null">DISCOUNT_INFO = #{discountinfo},</if>
            <if test="infocenter != null">INFO_CENTER = #{infocenter},</if>
            <if test="parking != null">PARKING = #{parking},</if>
            <if test="parkingfee != null">PARKING_FEE = #{parkingfee},</if>
            <if test="restdate != null">REST_DATE = #{restdate},</if>
            <if test="usefee != null">USE_FEE = #{usefee},</if>
            <if test="usetime != null">USE_TIME = #{usetime}</if>
        </set>
        WHERE COT_ID = #{cotId}
    </update>

    <insert id="insertFestivalIntro" parameterType="hashmap">
        INSERT INTO FESTIVAL_INTRO (
            COT_ID,
            SCALE,
            SPEND_TIME,
            AGE_LIMIT,
            BOOKING_PLACE,
            DISCOUNT_INFO,
            EVENT_END_DATE,
            EVENT_HOMEPAGE,
            EVENT_PLACE,
            EVENT_START_DATE,
            FESTIVAL_GRADE,
            PLACE_INFO,
            PLAY_TIME,
            PROGRAM,
            SPONSOR1,
            SPONSOR1_TEL,
            SPONSOR2,
            SPONSOR2_TEL,
            SUB_EVENT,
            USE_FEE
        ) VALUES (
            #{cotid},
            #{scale},
            #{spendtime},
            #{agelimit},
            #{bookingplace},
            #{discountinfo},
            #{eventenddate},
            #{eventhomepage},
            #{eventplace},
            #{eventstartdate},
            #{festivalgrade},
            #{placeinfo},
            #{playtime},
            #{program},
            #{sponsor1},
            #{sponsor1tel},
            #{sponsor2},
            #{sponsor2tel},
            #{subevent},
            #{usefee}
        )
    </insert>

    <update id="updateFestivalIntro" parameterType="hashmap">
        UPDATE FESTIVAL_INTRO
        <set>
            <if test="scale != null">SCALE = #{scale},</if>
            <if test="spendtime != null">SPEND_TIME = #{spendtime},</if>
            <if test="agelimit != null">AGE_LIMIT = #{agelimit},</if>
            <if test="bookingplace != null">BOOKING_PLACE = #{bookingplace},</if>
            <if test="discountinfo != null">DISCOUNT_INFO = #{discountinfo},</if>
            <if test="eventenddate != null">EVENT_END_DATE = #{eventenddate},</if>
            <if test="eventhomepage != null">EVENT_HOMEPAGE = #{eventhomepage},</if>
            <if test="eventplace != null">EVENT_PLACE = #{eventplace},</if>
            <if test="eventstartdate != null">EVENT_START_DATE = #{eventstartdate},</if>
            <if test="festivalgrade != null">FESTIVAL_GRADE = #{festivalgrade},</if>
            <if test="placeinfo != null">PLACE_INFO = #{placeinfo},</if>
            <if test="playtime != null">PLAY_TIME = #{playtime},</if>
            <if test="program != null">PROGRAM = #{program},</if>
            <if test="sponsor1 != null">SPONSOR1 = #{sponsor1},</if>
            <if test="sponsor1tel != null">SPONSOR1_TEL = #{sponsor1tel},</if>
            <if test="sponsor2 != null">SPONSOR2 = #{sponsor2},</if>
            <if test="sponsor2tel != null">SPONSOR2_TEL = #{sponsor2tel},</if>
            <if test="subevent != null">SUB_EVENT = #{subevent},</if>
            <if test="usefee != null">USE_FEE = #{usefee}</if>
        </set>
        WHERE COT_ID = #{cotId}
    </update>

    <insert id="insertCourseIntro" parameterType="hashmap">
        INSERT INTO COURSE_INTRO (
            COT_ID,
            DISTANCE,
            TAKE_TIME,
            CONTACT_INFO,
            SCHEDULE,
            THEME
        ) VALUES (
            #{cotId},
            #{distance},
            #{taketime},
            #{contactinfo},
            #{schedule},
            #{theme}
        )
    </insert>

    <update id="updateCourseIntro" parameterType="hashmap">
        UPDATE COURSE_INTRO
        <set>
            <if test="distance != null">DISTANCE = #{distance}</if>
            <if test="taketime != null">TAKE_TIME = #{taketime}</if>
            <if test="contactinfo != null">CONTACT_INFO = #{contactinfo}</if>
            <if test="schedule != null">SCHEDULE = #{schedule}</if>
            <if test="theme != null">THEME = #{theme}</if>
        </set>
        WHERE COT_ID = #{cotId}
    </update>

    <insert id="insertLeportsIntro" parameterType="hashmap">
        INSERT INTO LEPORTS_INTRO (
            COT_ID,
            ACCOM_COUNT,
            CHK_BABY_CARRIAGE,
            CHK_CREDITCARD,
            CHK_PET,
            EXP_AGE_RANGE,
            INFO_CENTER,
            OPEN_PERIOD,
            PARKING_FEE,
            PARKING,
            RESERVATION,
            REST_DATE,
            SCALE,
            USE_FEE,
            USE_TIME
        ) VALUES (
            #{cotId},
            #{accomcount},
            #{chkbabycarriage},
            #{chkcreditcard},
            #{chkpet},
            #{expagerange},
            #{infocenter},
            #{openperiod},
            #{parkingfee},
            #{parking},
            #{reservation},
            #{restdate},
            #{scale},
            #{usefee},
            #{usetime}
        )
    </insert>

    <update id="updateLeportsIntro" parameterType="hashmap">
        UPDATE LEPORTS_INTRO
        <set>
            <if test="accomcount != null">ACCOM_COUNT = #{accomcount},</if>
            <if test="chkbabycarriage != null">CHK_BABY_CARRIAGE = #{chkbabycarriage},</if>
            <if test="chkcreditcard != null">CHK_CREDITCARD = #{chkcreditcard},</if>
            <if test="chkpet != null">CHK_PET = #{chkpet},</if>
            <if test="expagerange != null">EXP_AGE_RANGE = #{expagerange},</if>
            <if test="infocenter != null">INFO_CENTER = #{infocenter},</if>
            <if test="openperiod != null">OPEN_PERIOD = #{openperiod},</if>
            <if test="parkingfee != null">PARKING_FEE = #{parkingfee},</if>
            <if test="parking != null">PARKING = #{parking},</if>
            <if test="reservation != null">RESERVATION = #{reservation},</if>
            <if test="restdate != null">REST_DATE = #{restdate},</if>
            <if test="scale != null">SCALE = #{scale},</if>
            <if test="usefee != null">USE_FEE = #{usefee},</if>
            <if test="usetime != null">USE_TIME = #{usetime}</if>
        </set>
        WHERE COT_ID = #{cotId}
    </update>

    <insert id="insertAccommodationIntro" parameterType="hashmap">
        INSERT INTO ACCOMMODATION_INTRO (
            COT_ID,
            ACCOM_COUNT,
            BENIKIA,
            CHECK_IN_TIME,
            CHECK_OUT_TIME,
            CHK_COOKING,
            FOOD_PLACE,
            GOOD_STAY,
            HANOK,
            CONTACT_INFO,
            PARKING,
            PICKUP,
            ROOM_COUNT,
            RESERVATION,
            RESERVATION_URL,
            ROOM_TYPE,
            SCALE,
            SUB_FACILITY,
            BARBECUE,
            BEAUTY,
            BICYCLE,
            COMPFIRE,
            FITNESS,
            KARAOKE,
            PUBLIC_BATH,
            PUBLIC_PC,
            SAUNA,
            SEMINAR,
            SPORTS
        ) VALUES (
            #{cotId},
            #{accomcount},
            #{benikia},
            #{checkintime},
            #{checkouttime},
            #{chkcooking},
            #{foodplace},
            #{goodstay},
            #{hanok},
            #{contactinfo},
            #{parking},
            #{pickup},
            #{roomcount},
            #{reservation},
            #{reservationurl},
            #{roomtype},
            #{scale},
            #{subfacility},
            #{barbecue},
            #{beauty},
            #{bicycle},
            #{compfire},
            #{fitness},
            #{karaoke},
            #{publicbath},
            #{publicpc},
            #{sauna},
            #{seminar},
            #{sports}
        )
    </insert>

    <update id="updateAccommodationIntro" parameterType="hashmap">
        UPDATE ACCOMMODATION_INTRO
        <set>
            <if test="accomcount != null">ACCOM_COUNT = #{accomcount},</if>
            <if test="benikia != null">BENIKIA = #{benikia},</if>
            <if test="checkintime != null">CHECK_IN_TIME = #{checkintime},</if>
            <if test="checkouttime != null">CHECK_OUT_TIME = #{checkouttime},</if>
            <if test="chkcooking != null">CHK_COOKING = #{chkcooking},</if>
            <if test="foodplace != null">FOOD_PLACE = #{foodplace},</if>
            <if test="goodstay != null">GOOD_STAY = #{goodstay},</if>
            <if test="hanok != null">HANOK = #{hanok},</if>
            <if test="contactinfo != null">CONTACT_INFO = #{contactinfo},</if>
            <if test="parking != null">PARKING = #{parking},</if>
            <if test="pickup != null">PICKUP = #{pickup},</if>
            <if test="roomcount != null">ROOM_COUNT = #{roomcount},</if>
            <if test="reservation != null">RESERVATION = #{reservation},</if>
            <if test="reservationurl != null">RESERVATION_URL = #{reservationurl},</if>
            <if test="roomtype != null">ROOM_TYPE = #{roomtype},</if>
            <if test="scale != null">SCALE = #{scale},</if>
            <if test="subfacility != null">SUB_FACILITY = #{subfacility},</if>
            <if test="barbecue != null">BARBECUE = #{barbecue},</if>
            <if test="beauty != null">BEAUTY = #{beauty},</if>
            <if test="bicycle != null">BICYCLE = #{bicycle},</if>
            <if test="compfire != null">COMPFIRE = #{compfire},</if>
            <if test="fitness != null">FITNESS = #{fitness},</if>
            <if test="karaoke != null">KARAOKE = #{karaoke},</if>
            <if test="publicbath != null">PUBLIC_BATH = #{publicbath},</if>
            <if test="publicpc != null">PUBLIC_PC = #{publicpc},</if>
            <if test="sauna != null">SAUNA = #{sauna},</if>
            <if test="seminar != null">SEMINAR = #{seminar},</if>
            <if test="sports != null">SPORTS = #{sports}</if>
        </set>
        WHERE COT_ID = #{cotId}
    </update>

    <insert id="insertShoppingIntro" parameterType="hashmap">
        INSERT INTO SHOPPING_INTRO (
            COT_ID,
            CHK_BABY_CARRIAGE,
            CHK_CREDITCARD,
            CHK_PET,
            CULTURE_CENTER,
            FAIR_DAY,
            CONTACT_INFO,
            OPEN_DATE,
            OPEN_TIME,
            PARKING,
            REST_DATE,
            REST_ROOM,
            SALE_ITEM,
            SALE_ITEM_COST,
            SCALE,
            SHOP_GUIDE
        ) VALUES (
            #{cotId},
            #{chkbabycarriage},
            #{chkcreditcard},
            #{chkpet},
            #{culturecenter},
            #{fairday},
            #{contactinfo},
            #{opendate},
            #{opentime},
            #{parking},
            #{restdate},
            #{restroom},
            #{saleitem},
            #{saleitemcost},
            #{scale},
            #{shopguide}
        )
    </insert>

    <update id="updateShoppingIntro" parameterType="hashmap">
        UPDATE SHOPPING_INTRO
        <set>
            <if test="chkbabycarriage != null">CHK_BABY_CARRIAGE = #{chkbabycarriage},</if>
            <if test="chkcreditcard != null">CHK_CREDITCARD = #{chkcreditcard},</if>
            <if test="chkpet != null">CHK_PET = #{chkpet},</if>
            <if test="culturecenter != null">CULTURE_CENTER = #{culturecenter},</if>
            <if test="fairday != null">FAIR_DAY = #{fairday},</if>
            <if test="contactinfo != null">CONTACT_INFO = #{contactinfo},</if>
            <if test="opendate != null">OPEN_DATE = #{opendate},</if>
            <if test="opentime != null">OPEN_TIME = #{opentime},</if>
            <if test="parking != null">PARKING = #{parking},</if>
            <if test="restdate != null">REST_DATE = #{restdate},</if>
            <if test="restroom != null">REST_ROOM = #{restroom},</if>
            <if test="saleitem != null">SALE_ITEM = #{saleitem},</if>
            <if test="saleitemcost != null">SALE_ITEM_COST = #{saleitemcost},</if>
            <if test="scale != null">SCALE = #{scale},</if>
            <if test="shopguide != null">SHOP_GUIDE = #{shopguide}</if>
        </set>
        WHERE COT_ID = #{cotId}
    </update>

    <insert id="insertEateryIntro" parameterType="hashmap">
        INSERT INTO EATERY_INTRO (
            COT_ID,
            CHK_CREDITCARD,
            DISCOUNT_INFO,
            FIRST_MENU,
            CONTACT_INFO,
            KIDS_FACILITY,
            OPEN_DATE,
            OPEN_TIME,
            PACKING,
            PARKING,
            RESERVATION,
            REST_DATE,
            SCALE,
            SEAT,
            SMOKING,
            TREAT_MENU
        ) VALUES (
            #{cotId},
            #{chkcreditcard},
            #{discountinfo},
            #{firstmenu},
            #{contactinfo},
            #{kidsfacility},
            #{opendate},
            #{opentime},
            #{packing},
            #{parking},
            #{reservation},
            #{restdate},
            #{scale},
            #{seat},
            #{smoking},
            #{treatmenu}
        )
    </insert>

    <update id="updateEateryIntro" parameterType="hashmap">
        UPDATE EATERY_INTRO
        <set>
            <if test="chkcreditcard =!= null">CHK_CREDITCARD = #{chkcreditcard},</if>
            <if test="discountinfo =!= null">DISCOUNT_INFO = #{discountinfo},</if>
            <if test="firstmenu =!= null">FIRST_MENU = #{firstmenu},</if>
            <if test="contactinfo =!= null">CONTACT_INFO = #{contactinfo},</if>
            <if test="kidsfacility =!= null">KIDS_FACILITY = #{kidsfacility},</if>
            <if test="opendate =!= null">OPEN_DATE = #{opendate},</if>
            <if test="opentime =!= null">OPEN_TIME = #{opentime},</if>
            <if test="packing =!= null">PACKING = #{packing},</if>
            <if test="parking =!= null">PARKING = #{parking},</if>
            <if test="reservation =!= null">RESERVATION = #{reservation},</if>
            <if test="restdate =!= null">REST_DATE = #{restdate},</if>
            <if test="scale =!= null">SCALE = #{scale},</if>
            <if test="seat =!= null">SEAT = #{seat},</if>
            <if test="smoking =!= null">SMOKING = #{smoking},</if>
            <if test="treatmenu =!= null">TREAT_MENU = #{treatmenu}</if>
        </set>
        WHERE COT_ID = #{cotId}
    </update>
</mapper>